footer.footer
  .container

script(src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous")
//- script(src="js/vendor/slick.min.js")
//- script(src="js/vendor/bootstrap.min.js")
//- script(src="js/vendor/moment.min.js")
//- script(src="js/vendor/daterangepicker.js")
script(src="js/main.js")
