header.header
  .logo.animate__animated.animate__fadeInDown
    a(href="#")
      img(src="./img/logo_index.svg", alt="")

  .burger-button.animate__animated.animate__fadeInDown
    .burger-container
      span

  #main-menu.menu
    .menu-list
      .menu-item
        a(href="#")
          .link-content
            span Ссылка 1
            p We are
              br
              |what we do
              br
              |people

      .menu-item
        a(href="#")
          .link-content
            span Ссылка 2
            p We are what we do people

      .menu-item.active
        a(href="#")
          .link-content
            span Ссылка 3
            p We are what we do people
    
    
