html(lang="en")
  include ../includes/head.pug
    title About
  body.about-page
    include ../includes/header.pug

    main
      section.about-section
        .section-content
          .img-block
            .reverse-title-container
              .reverse-title We are...
            .img-container.to-stripe-onload
              img(src="img/bg-services.jpg", alt="")
          .desc-block
            .block-content
              h2.to-stripe-onload We are...
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate illum amet voluptate adipisci. Alias autem eaque aliquid unde sed voluptates error impedit nisi iste consectetur qui distinctio iusto illum ipsa, quibusdam culpa laudantium tenetur ad. Nisi animi sit molestias fugit.
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore in, porro laborum sit provident ex? Quidem dolorem ipsa repellendus quia nulla alias, reprehenderit velit nam.

      section.activities-section
        .reverse-title-container
          .reverse-title What we do...

        .container
          h2.to-stripe-onscroll What we do

          .brif-info
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt unde hic magnam aperiam est possimus libero explicabo sapiente animi provident?
          
          .activities-list
            .activity-col
              .activity-item
                .title Web-design
                .activity-sublist
                  .activity-subitem UX/UI design
                  .activity-subitem mobile optomization
                  .activity-subitem WEBsite redesign
              .activity-item 
                .title Web-development
                .activity-sublist
                  .activity-subitem UX/UI design
                  .activity-subitem mobile optomization
                  .activity-subitem WEBsite redesign
              .activity-item 
                .title Web-development
                .activity-sublist
                  .activity-subitem UX/UI design
                  .activity-subitem mobile optomization
                  .activity-subitem WEBsite redesign
              .activity-item 
                .title Web-development
                .activity-sublist
                  .activity-subitem UX/UI design
                  .activity-subitem mobile optomization
                  .activity-subitem WEBsite redesign
                
            .activity-col
              .activity-item 
                .title Web-development
                .activity-sublist
                  .activity-subitem UX/UI design
                  .activity-subitem mobile optomization
                  .activity-subitem WEBsite redesign
              .activity-item 
                .title Web-development
                .activity-sublist
                  .activity-subitem UX/UI design
                  .activity-subitem mobile optomization
                  .activity-subitem WEBsite redesign
              .activity-item 
                .title Web-development
                .activity-sublist
                  .activity-subitem UX/UI design
                  .activity-subitem mobile optomization
                  .activity-subitem WEBsite redesign
              .activity-item 
                .title Web-development
                .activity-sublist
                  .activity-subitem UX/UI design
                  .activity-subitem mobile optomization
                  .activity-subitem WEBsite redesign

      section.crew-section
        .reverse-title-container
          .reverse-title People
        .container
          h2 People
          .people-list-container
            .people-arrow
            .people-list
              .person-card
                .img-container
                  img(src="img/bg-services.jpg", alt="")
                .person-info
                  .name John Dockins 1
                  .position web-designer

              .person-card
                .img-container
                  img(src="img/bg-services.jpg", alt="")
                .person-info
                  .name John Dockins 2
                  .position web-designer

              .person-card
                .img-container
                  img(src="img/bg-services.jpg", alt="")
                .person-info
                  .name John Dockins 3
                  .position web-designer
              
              .person-card
                .img-container
                  img(src="img/bg-services.jpg", alt="")
                .person-info
                  .name John Dockins 4
                  .position web-designer
              
              .person-card
                .img-container
                  img(src="img/bg-services.jpg", alt="")
                .person-info
                  .name John Dockins 5
                  .position web-designer

      //- section(style="height: 300px")

    script(src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous")

