html(lang="en")
  include ../includes/head.pug
    title Home
  body.index 
    include ../includes/header_index.pug

    main.header-indent
      video#video-bg(src="img/OpenB_final_v2_re.mp4" autoplay loop muted)

      h1 Boutique Digital Agency

      .about-row.animate__animated.animate__fadeIn We create DESIGN and develop solutions for all types of WEB and MOBILE products.

