html(lang="en")
  include ../includes/head.pug
    title Work
  body.work-page

    include ../includes/header.pug

    main
      section.project-section.header-indent
        .project-item(style="background-image: url(img/bg-psychosomatic.jpg)")
          .container.project-content
            h2 Delivery by
              span CHEBUROOM
            .btns-row
              a.btn-item.branding-btn(href="#") branding
              a.btn-item.project-details-btn(href="#") More
        .project-item(style="background-image: url(img/bg-services.jpg)")
          .container.project-content
            h2 Delivery by
              span CHEBUROOM
            .btns-row
              a.btn-item.branding-btn(href="#") branding
              a.btn-item.project-details-btn(href="#") More
        .project-item(style="background-image: url(img/first-appointment.jpg)")
          .container.project-content
            h2 Delivery by
              span CHEBUROOM
            .btns-row
              a.btn-item.branding-btn(href="#") branding
              a.btn-item.project-details-btn(href="#") More
          
        .show-more-btn +


    script(src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous")

